.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} .titulo {
    font-size: 25px;
} nav > a {
    font-size: 20px;
    color: black;
    margin: 0px 20px;
    text-decoration: none;
} nav > a:hover{
    color: red;
} nav > a.active{
    color: blue;
}